<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d  %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="data" level="debug"/>
        <Logger name="service" level="debug"/>
        <Logger name="util" level="debug"/>
        <Logger name="web" level="debug"/>
        <Root level="info">
            <AppenderRef ref="console"/>
        </Root>
    </Loggers>
</Configuration>