.black {
	color: #555555!important;
}
.comment {
    background-color: #e0e0e0;
}
.comment-author {
    font-weight: bold;
}
.panel-heading {
    height: 36px;
}
.required {
    color: #ff0000;
}
.notification-bar {
    width: 1%;
    display: table-cell;
    box-sizing: border-box;

    padding: 28px 28px;
    text-align: center;
    vertical-align: middle;

    font-family: "Lato", Helvetica, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: normal;
    line-height: 1;

    border: 1px solid;
    border-radius: 5px;
}
.notification-bar.error {
    color: #e90f04;
    background-color: #fed7d4;
    border-color: #fc5047;
}
.notification-bar.success {
    background-color: #F0FEE9;
    border-color: #A5D491;
    color: #6fc33b;
}
#notificationHolder {
    position: fixed;
    z-index: 2000;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 16px;
    display: none;
}